
<h2>Board of European Students of Technology</h2>

<div>
<p align="justify">BEST powstał w 1989 roku. Obecnie istnieje 89 lokalnych jednostek BEST-u w 29 krajach Europy. Oznacza to, że mamy możliwość dotarcia do prawie miliona studentów uczelni technicznych, którzy mogą uczestniczyć we wszystkich przedsięwzięciach BEST-u. Naszym celem jest promowanie komunikacji i wymiany doświadczeń pomiędzy studentami uczelni technicznych w całej Europie. Poprzez pracę w wielokulturowym środowisku przyszli inżynierowie są otwarci na kontakty międzynarodowe i zdobywają unikalne doświadczenie, co sprawia, że ich oferta jest szczególnie atrakcyjna na europejskim rynku pracy.
</p>
</div>

<div id="photo">  
      <li class="grupowe"><span class="overlay"></span>
      </li>
</div>

<div>
<p align="justify">Organizacja Studencka BEST Gdańsk działa na Politechnice Gdańskiej już od 2003 roku. Profesjonalizm oraz innowacyjność różnorodnych projektów skierowanych do studentów czyni z nas jedną z najprężniej rozwijających się lokalnych grup BEST-u. W ramach corocznej działalności możemy pochwalić się organizacją tematycznych projektów skierowanych do studentów wszystkich wydziałów Politechniki Gdańskiej. Wiedza zdobyta podczas zajęć może być wykorzystana przez żaków w praktyce na konkursie inżynierskim EBEC. Innego rodzaju przygotowywanym przez nas spotkaniem, odbywającym się raz w roku, jest FOKA – Forum Organizacji i Kół Akademickich, które zrzeszają studentów działających na Politechnice Gdańskiej. Dodatkowo w ciągu roku przygotowujemy oraz uczestniczymy w wielu innych, różnorodnych projektach, a wśród nich BEST Career Meeting, wyjazdy szkoleniowe, Regional Meetings, wymiany kulturowe oraz inne jednodniowe projekty.</p>
</div>

</div>

