

<h2>Inżynierskie Targi Pracy</h2>

<div>
<p align="justify">Inżynierskie Targi Pracy są jednym z największych, najważniejszych i najbardziej prestiżowych projektów organizowanych przez Stowarzyszenie Studentów BEST Gdańsk.</p>

<p align="justify">Głównym celem tego wydarzenia jest zapoznanie studentów ze środowiskiem potencjalnych pracodawców. Umożliwiamy bezpośredni kontakt pracodawcy ze studentem, co pozwala na zrozumienie oczekiwań i potrzeb obu stron. Firma biorąca udział w targach ma okazję zaprezentowania swojej oferty studentom i absolwentom trójmiejskich uczelni. Poprzez udział w wydarzeniach takich jak ITP firma jest postrzegana jako przyjazna i otwarta.</p>
</div>

<div id="photo">  
      <li class="itp"><span class="overlay"></span>
      </li>
</div>

<div>
<p align="justify">Oferta targów dociera do studentów wszystkich wydziałów Politechniki Gdańskiej, którzy w przyszłości będą tworzyć wykwalifikowaną kadrę specjalistów. Inżynierskie Targi Pracy pomagają studentom w wyborze ścieżki rozwoju. Pozwalają na pierwszy poważny kontakt z pracodawcą oraz ułatwiają podjęcie ważnych, życiowych decyzji dotyczących zatrudnienia. Firmie dają szansę na pozyskanie profesjonalnych pracowników o wysokich kwalifikacjach.</p>
</div>

</div>
</body>
<html>
