

<h2>Kontakt z organizatorem</h2>

<div id="lewo">
<div id="photo">  
      <li class="kontakt1"><span class="overlay"></span>
      </li>
</div>
</div>
<div id="lewo_duze">
<h3>Hanna Kozicka</h3>
<p>Koordynator Główny</p>

<p>hanna.kozicka@BEST.gdansk.pl</p>
</div>

<div id="prawo">
<div id="photo">  
      <li class="kontakt2"><span class="overlay"></span>
      </li>
</div>
</div>
<div id="prawo_duze">
<h3>Karolina Kornas</h3>
<p>Koordynator ds. Kontaktu z Firmami</p>

<p>karolina.kornas@BEST.gdansk.pl</p>
</div>

</div>

