<!doctype html>

<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="styles.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
   <title>Strona ITP</title>
</head>
<body>
<div id="centrowana">

<div id="photo">  
      <li class="kombo"><span class="overlay"></span>
      </li>
</div>

<div style="text-align: right;">
<?php
	session_start();
	if(isset($_SESSION['message'])){
		echo $_SESSION['message'];
	}else {
	echo '';
	}
?>
</div>

<div id='cssmenu'>
<ul>
   <li><a href='index.php?page=glowna'>Główna</a></li>
   <li><a href='index.php?page=best'>BEST</a></li>
   <li><a href='index.php?page=itp'>O ITP</a></li>
   <li class='has-sub'><a href='#'>Dla firm</a>
      <ul>
         <li class='has-sub'><a href='index.php?page=rejestracjafirm'>Zarejestruj firmę</a>

         </li>
         <li class='has-sub'><a href='#'>Raporty</a>
            <ul>
               <li><a href='raporty/RaportITP2012.pdf'>ITP 2012</a></li>
               <li><a href='raporty/RaportITP2013.pdf'>ITP 2013</a></li>
               <li><a href='raporty/RaportITP2014.pdf'>ITP 2014</a></li>
               <li><a href='raporty/RaportITP2015.pdf'>ITP 2015</a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href='index.php?page=galeria'>Galeria</a></li>
   <li><a href='index.php?page=kontakt'>Kontakt</a></li>
   
    <a href="index.php?page=logowanie" class="button1">ZALOGUJ &nbsp</a>
	<a href="index.php?page=rejestracja" class="button1">ZAREJESTRUJ SIĘ</a>
	

</ul>
</div>


